{
  "extends": [
    "taro"
  ],
  "rules": {
    "import/first": 0,
    "react/jsx-space-before-closing": 0,
    "no-unused-vars": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".tsx"
        ]
      }
    ]
  },
  "parser": "babel-eslint"
}
