.container {
  position: relative;
  width: 750px;
  height: 300px;
}

.prizeText {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: #f37021;
  z-index: 1;
  background: #333333;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
