@import "../../scss/config";

.g-footer-nav-wrap {
  height: px2rem(90);
  width: px2rem(375);
}

.g-footer-nav {
  width: inherit;
  height: inherit;
  display: flex;
  align-content: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  color: #000;
}

.g-footer-nav-item {
  width: 0;
  flex: 1;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 20%;
    height: 40%;
    width: px2rem(2);
    background: #5b5b5b;
  }
  &:last-of-type:after {
    display: none;
  }
}

.g-footer-nav-item-text {
  width: px2rem(32);
  font-size: px2rem(16);
  line-height: 1.4;
}

.g-footer-nav-item-desc {
  width: 100%;
  margin-top: px2rem(8);
  text-align: center;
  font-size: px2rem(12);
}
