@import "../../scss/config";
@import "../../components/wxParse/wxParse.scss";

page {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  background: rgb(225, 147, 19);
}

.logo {
  width: px2rem(360);
  height: px2rem(150);
  margin: px2rem(75) auto 0;
  display: block;
}

.footer-nav-wrap {
  height: px2rem(90);
  width: px2rem(375);
  .footer-nav {
    width: inherit;
    height: inherit;
    display: flex;
    align-content: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  .footer-nav-item {
    width: 0;
    flex: 1;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 20%;
      height: 40%;
      width: px2rem(2);
      background: #5b5b5b;
    }
    &:last-of-type:after {
      display: none;
    }
  }
  .footer-nav-item-text {
    width: px2rem(32);
    font-size: px2rem(16);
    color: #ffffff;
    line-height: 1.4;
  }
  .footer-nav-item-desc {
    width: 100%;
    margin-top: px2rem(8);
    color: #ffffff;
    text-align: center;
    font-size: px2rem(12);
  }
}

