@import "../../scss/config";

// html, body, page是兼容h5的写法。
html, body, page {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  background-color: rgb(225, 147, 19);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.logo {
  width: px2rem(360);
  height: px2rem(150);
  margin: px2rem(75) auto 0;
  display: block;
}

// 百度小程序覆盖子组件的样式。
.g-footer-nav__g-footer-nav-wrap {
  color: #ffffff !important;
}

// 微信小程序覆盖子组件的样式(无效,微信小程序的组件样式不可以在外部被覆盖掉)。
.g-footer-nav-wrap {
  color: #ffffff !important;
}
