
@font-face {
    font-family: 'iconfont';  /* project id 901737 */
    src: url('//at.alicdn.com/t/font_901737_893qtowod6c.eot');
    src: url('//at.alicdn.com/t/font_901737_893qtowod6c.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_901737_893qtowod6c.woff') format('woff'),
    url('//at.alicdn.com/t/font_901737_893qtowod6c.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_901737_893qtowod6c.svg#iconfont') format('svg');
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-no-data:before { content: "\e666"; }

.icon-up:before { content: "\e689"; }

.icon-right:before { content: "\e68a"; }

.icon-down:before { content: "\e68b"; }

.icon-left:before { content: "\e68c"; }

.icon-close:before { content: "\e605"; }

