@import "./config";

.border-top {
    border: 0;
    position: relative;
}

.border-top:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    background: #e6e6e6;
}

.border-right {
    position: relative;
}

.border-right:after {
    content: "";
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    background: #e6e6e6;
}

.border-bottom {
    border: 0;
    position: relative;
}

.border-bottom:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    background: #e6e6e6;
}

.border-left {
    border: 0;
    position: relative;
}

.border-left:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    left: 0;
    top: 0;
    -webkit-transform-origin: left center;
    transform-origin: left center;
    background: #e6e6e6;
}

.border-all {
    border: 0;
    position: relative;
}

.border-all:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    line-height: 0;
    border-radius: 0;
    border: 1px solid #e6e6e6;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    background: 0 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
not all {
    .border-top:before,
    .border-bottom:after {
        -webkit-transform: scaleY(0.66666667);
        transform: scaleY(0.66666667);
    }

    .border-right:after,
    .border-left:before {
        -webkit-transform: scaleX(0.66666667);
        transform: scaleX(0.66666667);
    }

    .border-all:before {
        width: 150%;
        height: 150%;
        -webkit-transform: scale(0.66666667);
        transform: scale(0.66666667);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
not all {
    .border-top:before,
    .border-bottom:after {
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }

    .border-right:after,
    .border-left:before {
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
    }

    .border-all:before {
        width: 200%;
        height: 200%;
        -webkit-transform: scale(0.48);
        transform: scale(0.48);
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3),
not all {
    .border-top:before,
    .border-bottom:after {
        -webkit-transform: scaleY(0.33333333);
        transform: scaleY(0.33333333);
    }

    .border-right:after,
    .border-left:before {
        -webkit-transform: scaleX(0.33333333);
        transform: scaleX(0.33333333);
    }

    .border-all:before {
        width: 300%;
        height: 300%;
        -webkit-transform: scale(0.3326);
        transform: scale(0.3326);
    }
}
